/*html,body
{
	height: 100%;
}

body
{  
	background: url(../img/bg1.jpeg) no-repeat fixed;
	background-size: 100%;
}

.container-main
{
	background-color: white;
	max-width: 1260px;
	margin: 0 auto;
	padding: 15px;
}*/

#links img
{
	margin-bottom: 4px;
}
